.text1{
background: linear-gradient(90deg, #604DBC 0%, #15E8BA 100%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
text-align: center;
text-transform: uppercase;


}
